<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0, user-scalable=0">

		<title>个人中心</title>

		<link href="FrontPages/css/admin.css" rel="stylesheet" type="text/css">
		<link href="FrontPages/css/amazeui.css" rel="stylesheet" type="text/css">
		<link href="FrontPages/css/personal.css" rel="stylesheet" type="text/css">
		<link href="FrontPages/css/vipstyle.css" rel="stylesheet" type="text/css">
		<script src="FrontPages/js/jquery.min.js"></script>
		<script src="FrontPages/js/amazeui.js"></script>
	</head>

	<body>
		<iframe src="FrontPages/header.html" width="100%" height="150px" frameborder="0"></iframe>
		<div class="nav-table">
			<div class="long-title"><span class="all-goods">全部分类</span></div>
			<div class="nav-cont">
				
				
			</div>
		</div>
		<b class="line"></b>
		<div class="center">
			<div class="col-main">
				<div class="main-wrap">
					<div class="wrap-left">
						<div class="wrap-list">
							<div class="m-user">
								<!--个人信息 -->

								<div class="m-userinfo">
									<a href="news.html">
										<div class="tipsBox"><i class="am-icon-envelope"></i></div>
									</a>
									<div class="m-baseinfo">
										<a class="m-pic" href="information.html">
											<img src="FrontPages/images/getAvatar.do.jpg">
										</a>
										<div class="m-info">
											<em class="s-name" th:text="${username}"></em>
				<div class="safeText">
												<div class="progressBar"><span style="left: -95px;" class="progress"></span></div>
											</div>
											<div class="m-address">
												<a href="/address" class="i-trigger">收货地址<i class="am-icon-angle-right" style="padding-left:5px ;"></i></a>
											</div>
										</div>
									</div>
									<div class="m-right">
										<div class="m-new">
											<a href="news.html"><i class="am-icon-dropbox  am-icon-md" style="padding-right:5px ;"></i>消息盒子</a>
										</div>

									</div>
								</div>

								<!--个人资产-->
								<div class="m-userproperty" style="width:66%">
									<div class="s-bar">
										<i class="s-icon"></i>个人资产
									</div>
									
									<p class="m-wallet">
										<a href="wallet.html">
											<em class="m-num" th:text="${money}"></em>
											<span class="m-title">账户余额</span>
										</a>
									</p>
									<p class="m-bill">
										<a href="pointnew.html">
											<em class="m-num">10</em>
											<span class="m-title">总积分</span>
										</a>
									</p>
								</div>

								<!--我的钱包-->
								

							</div>
							<div class="box-container-bottom"></div>

							<!--订单 -->
							<div class="m-order">
								<div class="s-bar">
									<i class="s-icon"></i>我的订单
									<a class="i-load-more-item-shadow" href="/order">全部订单</a>
								</div>
								<ul>
									<li><a href="order.html"><i><img src="FrontPages/images/pay.png"/></i><span>待付款</span></a></li>
									<li><a href="order.html"><i><img src="FrontPages/images/send.png"/></i><span>待发货<em class="m-num">1</em></span></a></li>
									<li><a href="order.html"><i><img src="FrontPages/images/receive.png"/></i><span>待收货</span></a></li>
									<li><a href="order.html"><i><img src="FrontPages/images/comment.png"/></i><span>待评价<em class="m-num">3</em></span></a></li>
									<li><a href="change.html"><i><img src="FrontPages/images/refund.png"/></i><span>退换货</span></a></li>
								</ul>
								<div class="orderContentBox"  th:each="order:${order}">
									<div class="orderContent">
										<div class="orderContentpic">
											<div class="imgBox">
												<a href="/orderinfo"><img th:src="'FrontPages/images/'+${order.img}"/></a>
												<!--th:src="'FrontPages/img/'+${search_result.img}"/-->
											</div>
										</div>
										<div class="detailContent">
											<a href="/orderinfo" class="delivery" th:switch="${order.state}">
												<p th:case="3" >签收</p>
												<p th:case="*" >未签收</p>
											</a>
											<div class="orderID">
												<span class="time" th:text="${order.ordertime}"></span>
												<!--<span class="splitBorder">|</span>-->
												<!--<span class="time">21:52:47</span>-->
											</div>
											<div class="orderID">
												<span class="num">共1件商品</span>
											</div>
										</div>
										<div class="state" th:switch="${order.state}">
											<p th:case="0" >待付款</p>
											<p th:case="1" >待发货</p>
											<p th:case="2" >待收货</p>
											<p th:case="3" >待评价</p>
										</div>
										<!--<div class="price"><span class="sym">¥</span>23.<span class="sym">80</span></div>-->
										<div class="price"><span class="sym" >¥</span><span class="sym" th:text="${order.totalprice}"></span></div>
									</div>
									<a href="javascript:void(0);" class="btnPay">再次购买</a>
								</div>
							</div>
							<!--九宫格-->
							<div class="user-squaredIcon">
								<div class="s-bar">
									<i class="s-icon"></i>我的常用
								</div>
								<ul>
									<a href="order.html">
										<li class="am-u-sm-4"><i class="am-icon-truck am-icon-md"></i>
											<p>物流查询</p>
										</li>
									</a>
									<a href="collection.html">
										<li class="am-u-sm-4"><i class="am-icon-heart am-icon-md"></i>
											<p>我的收藏</p>
										</li>
									</a>
									<a href="foot.html">
										<li class="am-u-sm-4"><i class="am-icon-paw am-icon-md"></i>
											<p>我的足迹</p>
										</li>
									</a>
									<a href="#">
										<li class="am-u-sm-4"><i class="am-icon-gift am-icon-md"></i>
											<p>为你推荐</p>
										</li>
									</a>
									<a href="blog.html">
										<li class="am-u-sm-4"><i class="am-icon-share-alt am-icon-md"></i>
											<p>我的分享</p>
										</li>
									</a>
									<a href="../home/home2.html">
										<li class="am-u-sm-4"><i class="am-icon-clock-o am-icon-md"></i>
											<p>限时活动</p>
										</li>
									</a>

								</ul>
							</div>

							<div class="user-suggestion">
								<div class="s-bar">
									<i class="s-icon"></i>会员中心
								</div>
								<div class="s-bar">
									<a href="suggest.html"><i class="s-icon"></i>意见反馈</a>
								</div>
							</div>


						</div>
					</div>
					<div class="wrap-right">

						<!-- 日历-->
						<div class="day-list">
							<div class="s-title">
								每日新鲜事
							</div>
							<div class="s-box">
								<ul>
									<li><a><p>粮油冲锋周 满128减18</p></a></li>
									<li><a><p>防晒这么重要的事怎能随意</p></a></li>
									<li><a><p>春日护肤面膜不可少，你选对了吗？</p></a></li>
									<li><a><p>纯粹时尚，摩登出游，吸睛美衣</p></a></li>
									<li><a><p>粮油冲锋周 满128减18</p></a></li>
									<li><a><p>春日护肤面膜不可少，你选对了吗？</p></a></li>									
								</ul>
							</div>
						</div>
						<!--新品 -->
						<div class="new-goods">
							<div class="s-bar">
								<i class="s-icon"></i>今日新品
								<a class="i-load-more-item-shadow">15款新品</a>
							</div>
							<div class="new-goods-info">
								<a class="shop-info" href="#">
									<div class="face-img-panel">
										<img src="FrontPages/images/imgsearch1.jpg" alt="">
									</div>
									<span class="new-goods-num ">4</span>
									<span class="shop-title">剥壳松子</span>
								</a>
						
							</div>
						</div>						

						</div>

				</div>
				<!--底部-->
				<iframe src="FrontPages/footer.html" width="100%" height="150px" frameborder="0" scrolling="no"></iframe>

			</div>

			<aside class="menu">
				<ul>
					<li class="person active">
						<a href="index.html"><i class="am-icon-user"></i>个人中心</a>
					</li>
					<li class="person">
						<p><i class="am-icon-newspaper-o"></i>个人资料</p>
						<ul>
							<li> <a href="/information">个人信息</a></li>
							<li> <a href="safety.html">安全设置</a></li>
							<li> <a href="/address">地址管理</a></li>
						</ul>
					</li>
					<li class="person">
						<p><i class="am-icon-balance-scale"></i>我的交易</p>
						<ul>
							<li><a href="/order">订单管理</a></li>
							<li> <a href="change.html">退款售后</a></li>
							<li> <a href="comment.html">评价商品</a></li>
						</ul>
					</li>
					<li class="person">
						<p><i class="am-icon-dollar"></i>我的资产</p>
						<ul>
							<li> <a href="points.html">我的积分</a></li>
							<li> <a href="walletlist.html">账户余额</a></li>
							<li> <a href="bill.html">账单明细</a></li>
						</ul>
					</li>

					
						</ul>
					</li>
				</ul>

			</aside>
		</div>
		
		</div>
	</body>

</html>