<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<title></title>
	<meta charset="utf-8">
	<link href="css/main.css" rel="stylesheet">
</head>
<body th:fragment="accountlist">
			<div class="AccountManagement_c " id="AccountManagement_c">
                <h3>账户管理 
                </h3>

                <div class="list">
                    <ul class="list_h">
                        <li class="b20"><label><input type="checkbox" name=""><span>用户名</span></label></li>
                        <li class="b20"><label>密码</label></li>
                        <li class="b20"><label>角色</label></li>
                        <li class="b60"><label>操作</label></li>
                    </ul>
                    <div class="list_b_c">
                            
                        <ul class="list_b">
                            <li class="b20"><label><input type="checkbox" name=""><span>ahh</span></label></li>
                            <li class="b20"><label>abc123456</label></li>
                            <li class="b20"><label>abc123456</label></li>
                            <li class="b60"> 
                                <a href="accountedit.html" ><div class="edit_btn df_btn fl text_center">编辑</div></a>
                            </li>
                            <li>
                                <a href=""><div class="delete_btn df_btn fl text_center">删除</div></a>
                            </li>
                        </ul>

                       
                        
                    </div>

                   
                    
                </div>
            </div>



   
    
</body>
<script type="text/javascript" src="../js/jquery.js"></script>
<script type="text/javascript" src="../js/main.js"></script>
</html>