<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<title></title>
	<meta charset="utf-8">
    <link href="EndPages/css/main.css" rel="stylesheet">
</head>
<body>
<!-- 商品管理 -->
<div class="AccountManagement_c" id="NewsManagement_c">
    <h3>商品管理

    </h3>
    <div class="list" id="release_news">
        <ul class="list_h">
            <li class="b80"><label>编辑商品</label></li>
        </ul>
        <form method="post" action="/commodityUpdate">
            <div class="list_b_c" id="release_news_in">
                <div class="release_news">
                    <div class="news_title">
                        <label class="text_center">商品ID：</label>
                        <input type="text" name="commodity_id" th:value="${commodity_id}" style="border: none;text-align: center;" readonly="true">
                    </div>
                    <div class="news_title">
                        <label class="text_center">商品名称：</label>
                        <input type="text"placeholder="填写商品名称" name="cname" th:value="${cname}" style="border: none;text-align: center;">
                    </div>
                    <div class="news_title">
                        <label class="text_center">品牌：</label>
                        <select class="form-control" name="name"  style="width:100px;margin-left: 210px;">
                            <option th:each="b:${brandlist}" th:value="${b.name}" th:text="${b.name}">初始值</option>
                        </select>
                    </div>
                    <div class="news_title">
                        <label class="text_center">类型：</label>
                        <select class="form-control" name="sc_name"  style="width:100px;margin-left: 210px;">
                            <option th:each="c:${categorylist}" th:value="${c.second_category_name}" th:text="${c.second_category_name }">初始值</option>
                        </select>
                    </div>
                    <!--<div class="news_title">-->
                        <!--<label class="text_center">口味：</label>-->
                        <!--<select class="form-control" name="flavor_name"  style="width:100px;margin-left: 210px;">-->
                            <!--<option th:each="f:${flavorlist}" th:value="${f.flavor_name}" th:text="${f.flavor_name}">初始值</option>-->
                        <!--</select>-->
                    <!--</div>-->
                    <!--<div class="news_title">-->
                        <!--<label class="text_center">更改库存：</label>-->
                        <!--<input type="text"placeholder="填写新库存信息" name="stock" th:value="${stock}" style="border: none;text-align: center;" required="true">-->
                        <!--&lt;!&ndash;<input type="number" min="0" max="100" step="1"/>&ndash;&gt;-->
                    <!--</div>-->
                    <div class="news_title">
                        <label class="text_center">促销价：</label>
                        <input type="text"placeholder="填写促销价" name="promotional_price" th:value="${promotional_price}" style="border: none;text-align: center;">
                    </div>
                    <div class="news_title">
                        <label class="text_center">原价：</label>
                        <input type="text"placeholder="填写原价" name="original_price" th:value="${original_price}" style="border: none;text-align: center;">
                    </div>
                    <div class="news_title">
                        <label class="text_center">商品描述：</label>
                        <input type="text" name="description" th:value="${description}" style="border: none;text-align: center;">
                    </div>
                    <!--<div class="news_title">-->
                    <!--<label class="text_center">图片</label>-->
                    <!--<input type="file" placeholder="选择图片" name="img">-->
                    <!--</div>-->
                    <button type="submit" class="release_news_ok_btn text_center" style="margin-left: 250px" onclick="alert('保存成功!')">保存</button>
                </div>
            </div>
        </form>
    </div>
</div>
</body>
</html>