<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title></title>
    <meta charset="utf-8">
    <link href="EndPages/css/main.css" rel="stylesheet">
    <link href="EndPages/css/yrh.css" rel="stylesheet">
</head>
<body>
<!--商品搜索详情页 -->
<li class="AccountManagement_c" id="NewsManagement_c">
    <h3>商品管理
        <div class="amcl fr">
            <form method="post" action="/commoditySearch">
                <input type="text" placeholder="商品名" class="fl" name="key"  value="商品名" onfocus="if (value =='商品名'){value =''}" onblur="if (value ==''){value='商品名'}" >
                <div class="search fl"><button type="submit" style="background-color: inherit;border: none"><img src="EndPages/images/search.png"></button></div>
            </form>
        </div>
        <a href="/EndPagesIndex" ><div class="edit_btn df_btn text_center" style="display: inline-block">返回</div></a>
    </h3>
<li class="list" id="release_news">
    <ul class="list_h">
        <li class="b80"><label>商品</label>
            信息</li>
    </ul>
    <!--<li class="list_b_c" id="release_news_in">-->
    <!--<form action="/userdetailUpdate" method="post" class="release_news" th:each="u:${userlist}" >-->
    <form action="/goodsdetail_yrh" method="post" class="release_news" th:each="b:${goodslist}" >
        <ul>
            <li>
                <label class="text_center" >商品Id:</label>
                <input name="user_id" th:value="${b.commodity_id}" class="unchangeable" readonly="true";></input>
            </li>
            <li>
                <label class="text_center" >商品名:</label>
                <input name="username" th:value="${b.cname}" class="unchangeable" readonly="true";></input>
            </li>
            <li>
                <label class="text_center">品牌:</label>
                <input name="sex" th:value="${b.name}" class="unchangeable" readonly="true";></input>
            </li>
            <li>
                <label class="text_center">类型:</label>
                <input name="phone" th:value="${b.second_category_name}" class="unchangeable" readonly="true";></input>
            </li>
            <!--<button type="submit" name="" class="inputbutton" onclick="alert('修改成功');">保存</button>-->
        </ul>
    </form>
</li>
</body>
</html>