<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title></title>
    <meta charset="utf-8">
    <link href="css/main.css" rel="stylesheet">
    <style type="text/css">
        .width35{
            width: 35%;
        }
    </style>
</head>
<body th:fragment="orderlist">
    <!-- 订单管理 -->
            <div class="AccountManagement_c" id="ColumnManagement_c">
                <h3>订单管理 
                  
                </h3>

                <div class="list">
                    <ul class="list_h">
                        <li style="width:35%;text-align: center;" ><label >订单编号</label></li>
                         <li style="width:17%;text-align: center;"><label>食品名称</label></li>
                          <li class="b20"><label>数量</label></li>
                           <li class="b20"><label>订单状态</label></li>
                        <li class="b20"><label>操作</label></li>
                    </ul>
                    <div class="list_b_c">
                        <!--<ul class="list_b"  th:each="o:${orderlist}"  th:each="one_order:${all_commodity}">-->
                        <!--<ul class="list_b"  th:each="o:${orderlist}">-->
                        <div>
                            <!--<ul class="list_b"  th:each="oa:${order_all_in_one_list}">-->
                            <!--<form method="post" action="/orderedit">-->
                                <!--<li style="width:35%"><input name="commodity_id" th:value="${oa.orderOne.order_id}" style="width:100%;border: none;text-align: center;" readonly="true"></li>-->
                                <!--&lt;!&ndash;<li style="width:17%"><input name="cname" th:value="${oa.orderOne.cname_group}" style="width:100%;border: none;text-align: center;" readonly="true"></li>&ndash;&gt;-->
                                <!--<li style="width:17%">-->
                                    <!--<select class="form-control" name="name"  style="width:100%;">-->
                                        <!--<option th:each="oo:${oa.cnameOneLineArr}" th:value="${oo}" th:text="${oo}">初始值</option>-->
                                    <!--</select>-->
                                <!--</li>-->
                                <!--<li class="b20" style="text-align: center"><input name="name" th:value="${oa.orderOne.quantity_group}" style="border: none;text-align: center;" readonly="true"></li>-->
                                <!--<li class="b20"><input name="sc_name" th:value="${oa.orderOne.state}" style="border: none;text-align: center;" readonly="true"></li>-->

                                <!--&lt;!&ndash;<li class="b20"><input type="submit" name="submitInput" value="编辑" class="inputbutton"></li>&ndash;&gt;-->
                                <!--&lt;!&ndash;<input type="submit" name="submitInput"  value="删除" class="inputbutton"  onclick="if(!confirm('are you ok?')){return false;}">&ndash;&gt;-->
                                <!--<li class="b20">-->
                                    <!--<div style="margin-left: auto;margin-right: auto">-->
                                        <!--<div class="edit_btn df_btn text_center" style="display: inline-block">-->
                                            <!--<input type="submit" name="submitInput" value="编辑" class="niceinput" style="border:none;background-color:inherit;color:white;font-size:16px;margin-top:3px;">-->
                                        <!--</div>-->
                                    <!--</div>-->
                                <!--</li>-->
                            <!--</form>-->
                        <!--</ul>-->
                        </div><!--能用下拉列表展示商品，但只能显示一个订单-->
                        <div>
                            <ul class="list_b"  th:each="o:${orderlist}">
                                <form method="post" action="/orderedit">
                                    <li style="width:35%"><input name="order_id" th:value="${o.order_id}" style="width:100%;border: none;text-align: center;" readonly="true"></li>
                                    <li style="width:17%"><input name="cname_group" th:value="${o.cname_group}" style="width:100%;border: none;text-align: center;" readonly="true"></li>
                                    <li class="b20" style="text-align: center"><input name="quantity_group" th:value="${o.quantity_group}" style="border: none;text-align: center;" readonly="true"></li>
                                    <li class="b20"><input name="state" th:value="${o.state}" style="border: none;text-align: center;" readonly="true"></li>
                                    <li class="b20">
                                        <div style="margin-left: auto;margin-right: auto">
                                            <div class="edit_btn df_btn text_center" style="display: inline-block">
                                                <input type="submit" name="submitInput" value="编辑" class="niceinput" style="border:none;background-color:inherit;color:white;font-size:16px;margin-top:3px;">
                                            </div>
                                        </div>
                                    </li>
                                </form>
                            </ul>
                        </div>
                    </div>

                    <div class="pull_page">
                        <div class="fl pull_page_up">上一页</div>
                            <ul>
                                <li class="on">1</li>
                                <li>2</li>
                                <li>3</li>
                                <li>4</li>
                                <li class="pull_page_df_btn">…</li>
                                <li>12</li>
                            </ul>
                        <div class="fl pull_page_down">下一页</div>
                    </div>

                    
                </div>
            </div>




</body>
<script type="text/javascript" src="../js/jquery.js"></script>
<script type="text/javascript" src="../js/main.js"></script>
</html>